$primary-color: #333;
$font-stack:  "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$footer-color: rgb(40, 40, 40);
$top-nav-size: 80px;
$hover-color: #4fa1c2;


/* -------------- Basic -------------- */
@font-face {
  font-family: 'Maison Neue Light';
  src:  url('fonts/maison_neue_light-webfont.woff2') format('woff2'),
  url('fonts/maison_neue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Medium';
  src:  url('fonts/maison_neue_medium-webfont.woff2') format('woff2'),
  url('fonts/maison_neue_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Maison Neue Mono';
  src:  url('fonts/maison_neue_mono-webfont.woff2') format('woff2'),
  url('fonts/maison_neue_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$mnl:  "Maison Neue Light", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
$mnm:  "Maison Neue Mono", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

/* -------------- Basic -------------- */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $mnl;
  background: white;
}

body.fix-body {
  overflow: hidden;
}

@media only screen and (min-width: 40.063em) {
  .row {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 40em) {
  .row {
    padding: 0 0.6rem;
  }
}

.full-width{
  padding: 0em;
  max-width: 100%;
}


@media only screen and (min-width: 2000px) {
  .cropped{
    max-width: 2000px;
  }
}

.full-width img{
  width: 100%;
}

// icons

.fa{
  color: #FFF;
  margin-right: 12px;
  font-size: 2em;
}

.fa-location-arrow{
  color: #196177;
}

/* -------------- Preloader -------------- */

#preloader {
  z-index: 3000;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:white;
}

#status {
  width: 4.5em;
  height: auto;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-repeat:no-repeat;
  background-position:center;
  margin:-3.25em 0 0 -5.25em; /* is width and height divided by two */
  opacity: 1;
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  moz-animation-name: pulsate;
  moz-animation-duration: 1.5s;
  moz-animation-iteration-count: infinite;

}

/* mobile first */
@media only screen and (max-width: 40em) {
  #status {
  left: 60%;
  }
}

@keyframes pulsate {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

/* -------------- General Transitions -------------- */

img {
  opacity:1;
  -moz-transition: opacity 0.5s; /* Firefox 4 */
  -webkit-transition: opacity 0.5s; /* Safari and Chrome */
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a, .btn, .fa {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover, .btn:hover, .fa:hover {
  color: $hover-color;
}

.btn:hover{
  border-color: $hover-color;
}

.sc {
  font-size: smaller;
  text-transform: uppercase;
}

.wf-loading body {
  visibility: hidden;
  display: none;
  text-align: center
}

::-moz-selection {
  background: #BFAD84;
  color: #000;
}
::selection {
  background: #BFAD84;
  color: #323838;
}

/* -------------- Top Nav Expanded Overlay -------------- */

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  left: 0;
  z-index: 99;
  top: -100%;
  transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
}

.menu.openmenu {
  top: 0;
}

.main-menu {
  display: table;
  width: 100%;
  height: 100%;
}

.main-menu ul {
  display: table-cell;
  vertical-align: middle;
  padding-top: 1.5em;
}

.main-menu li {
  text-align: center;
  font-family: $mnl;
  font-size: 2.4em;
  font-weight:200;
  line-height: 2.1em;
  color: #FFF;
  z-index: 9;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.main-menu li a {
  color: #FFF;
}

.main-menu li a:hover {
  color: $hover-color;
}


/* -------------- Main Nav (Top) -------------- */

nav.top-nav{
  z-index: 1000;
  width: 100%;
  height: $top-nav-size;
  overflow: hidden;
  position: fixed;
  top: 0;
  user-select: none;
  display: inline-block;
  vertical-align: middle;

}

nav.top-nav #logo-small {
  margin-top: 1.45em;
}

nav.top-nav #logo-small img{
  max-width: 200px;
  margin-top: -8px;
}


#button-wrapper {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1000;
  user-select: none;
}

#button-wrapper button {
  right: 0;
  margin: 1.5em 0;
  border: none;
  user-select: none;

  -webkit-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button span {
  display: block;
  user-select: none;
}

.lines-button {
  padding: 0;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 45px;
}

.lines-home {
  padding: 0;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: 0px;
}

.lines-button:focus {
  outline: none;
  user-select: none;
}

.lines-button:hover {
  opacity: 1;
}

.lines-black {
  width: 1.5rem;
  height: 0.18rem;
  background: #323838;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-black:before, .lines-black:after {
  width: 1.5rem;
  height: 0.18rem;
  background: #323838;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.lines-white {
  width: 1.5rem;
  height: 0.18rem;
  background: white;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-white:before, .lines-white:after {
  width: 1.5rem;
  height: 0.18rem;
  background: white;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.lines-black:before {
  top: .5rem;
}
.lines-black:after {
  top: -.5rem;
}

.lines-white:before {
  top: .5rem;
}
.lines-white:after {
  top: -.5rem;
}

.lines-button.x {
  padding: 1em;
  user-select: none;
}

.lines-button.x.close .lines-black {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-black:before, .lines-button.x.close .lines-black:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}
.lines-button.x.close .lines-black:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-black:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines-button.x.close .lines-white {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-white:before, .lines-button.x.close .lines-white:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}
.lines-button.x.close .lines-white:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-white:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -------------- Main Nav (Splash) -------------- */

.center_logo{

}
header {
  padding-top: 2em;
  line-height: 1.4em;
}

html.touch header {
  background: #FFF;
}

header a{
  color: #323838;
}

header ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#logo{
  font-size: 1em;
  letter-spacing: 1px;

}

#logo img{
  max-width: 200px;
  margin-top: -8px;
}

#logo-small{
  font: 1.3em/0.75em $font-stack;
  letter-spacing: 1px;
}

@media only screen and (max-width: 40em) {
  #logo-small{
    margin-left: -.2em;
  }
}

#header-nav {
  text-align: justify;
  font-size: 0.08em;
  letter-spacing: 1px;
  font-family: $font-stack
}

#header-nav li {
  display: inline-block;
  font-size: 12.5em;
  line-height: 1.43em;
}

#header-nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}


/* -------------- Splash page -------------- */

#splash {
  display: table;
  width: 100%;
  height: 78%;
  background: #FAFAF8;
  background: url('../../content/splash.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 64.063em) and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) {
  #splash {
    background: #FAFAF8;
    background: url('../../content/splash.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #splash {
    height: 38em;
    background: url('../../content/splash_mobile.jpg') left bottom;
    -webkit-background-size: 104% auto;
    -moz-background-size: 104% auto;
    -o-background-size: 104% auto;
    background-size: 104% auto;
  }
}

@media only screen and (max-width: 40em) {
  #splash {
    margin-top: $top-nav-size;
    height: 33em;
    background: url('../../content/splash_mobile.jpg') bottom center;
    -webkit-background-size: auto 131%;
    -moz-background-size: auto 131%;
    -o-background-size: auto 131%;
    background-size: auto 131%;
  }
}

#splashcontent {
  display: table-cell;
  vertical-align: middle;
  padding-top: -1em;
  margin: 0 auto;
  text-align: center;
}

#splashcontent img{
  display: inline-block;
  max-width: 300px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 40em) {
  #splashcontent {
    padding: 0em 1em 0em 1em;
  }
}



#splash h1 {
  text-align: center;
  font: 3.4em/1.25em "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #FFFFFF;
  z-index: 9;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media only screen and (max-width: 40em) {
  #splash h1 {
    font-size: 1.7em;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #splash h1 {
    font-size: 3em;
  }
}

#splash h2 {
  text-align: left;
  font: 1.4em/1.5em "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #747474;
  z-index: 9;
  -webkit-font-smoothing: antialiased;

  margin-bottom: 0.5em;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#splash h2 a {
  color: #938769;
}

#splash h2 a:hover {
  color: #3D3D3D;
}

@media only screen and (max-width: 40em) {
  #splash h2 {
    font-size: 1.1em;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #splash h2 {
    font-size: 1.3em;
  }
}



/* -------------- Side pages -------------- */

#side-splash {
  @extend #splash;
  height: 36em !important;
}

@media only screen and (min-width: 64.063em) and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) {
  #side-splash {
    height: 38em !important;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #side-splash {
    background: url('../img/main.jpg') center top;
    height: 25em !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    //padding-top: 66.67%; /* (img-height / img-width * container-width) */
  }

}

/* mobile first */
@media only screen and (max-width: 40em) {
  #side-splash {
    background: url('') center top;
    height: 18em !important;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
  }
}

// SIDE SPLASH SHORT
#side-splash-short {
  @extend #side-splash;
  height: 38em !important;
}
@media only screen and (min-width: 64.063em) and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) {
  #side-splash-short {
    height: 38em !important;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #side-splash-short {
    height:24em !important;
  }

}

/* mobile first */
@media only screen and (max-width: 40em) {
  #side-splash-short {
    height: 18em !important;
  }
}



/* CONTENT WRAPPER */

.index-wrapper {
  background: white;
  padding: 4.2em 0 2em;
}

@media only screen and (max-width: 40em) {
  .index-wrapper {
    padding: 2.5em 0 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .index-wrapper {
    padding: 3em 0 1.8em;
  }
}

.index-wrapper a {
  color: #323838;
}

.index-wrapper a:hover {
  color: #BFAD84;
}



.index-wrapper h1 {
  text-align: center;
  font: 2.2em "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333333;
  z-index: 9;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media only screen and (max-width: 40em) {
  .index-wrapper h1 {
    font-size: 1.7em;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .index-wrapper h1 {
    font-size: 2.2em;
  }
}

.index-wrapper h2 {
  text-align: center;
  font: 1.4em/1.6em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #747474;
  z-index: 9;
  -webkit-font-smoothing: antialiased;

  margin-bottom: 0.5em;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.index-wrapper h2 a {
  color: #938769;
}

.index-wrapper h2 a:hover {
  color: #3D3D3D;
}

@media only screen and (max-width: 40em) {
  .index-wrapper h2 {
    font-size: 1.1em;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .index-wrapper h2 {
    font-size: 1.3em;
  }
}

/* -------------- Feature-Thumbnails -------------- */

.feature-thumbnails {
  margin-top: 3em;
  z-index: 999;
}

.feature-thumbnails .row{
  padding-bottom: 1.667em;
}

@media only screen and (max-width: 40em) {
  .feature-thumbnails .columns{
    padding-bottom: 2em;
  }
  .feature-thumbnails .columns:last-child{
    padding-bottom: 1em;
  }

}

a.view-all {
  float: right;
  padding: 1.5em 0 0em;
  color: #323838;
  letter-spacing: 1px;
}

@media only screen and (max-width: 40em) {
  a.view-all {
    padding: 0em 0 0em;
  }
}

/* -------------- Thumbnails-Grid -------------- */

.project-thumbnail {
  float: left;
  width: 100%;
  position: relative;
}

a.project-thumbnail .project-hover-wrapper .project-hover {
  float: left;
  background-color: rgba(0,0,0,0.75);
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  opacity: 0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  a.project-thumbnail .project-hover-wrapper .project-hover {
    padding: 1em;
  }
}

a.project-thumbnail:hover .project-hover-wrapper .project-hover {
  opacity:1;
}

.project-hover h1 {
  font-family: "proxima-nova", Helvetica, Arial, Sans-Serif, sans-serif;
  font-size: 1.65em;
  line-height: 1.4em;
  letter-spacing: 1px;
  color: white;
  margin-top: 160px;
  font-weight: 300;
}

.project-hover p {
  font-family:"proxima-nova", "Courier New", Courier, monospace;
  color: white;
  font-size: 0.9em;
}

html.touch a.project-thumbnail .project-hover-wrapper .project-hover {
  float: left;
  background-color: rgba(0,0,0,0);
  position: relative;
  padding: 0em;
  margin-top: 1em;
  opacity: 1;
}

html.touch .project-hover h1 {
  color: #323838;
}

html.touch .project-hover p {
  display: none;
}

@media only screen and (max-width: 60em) {
  .project-hover h1 {
    font-family: "proxima-nova", Helvetica, Arial, Sans-Serif, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 1px;
    margin-top: 0;
    margin-top: 60px;
  }


  @media only screen and (max-width: 40em) {
    .project-hover h1 {
      margin-top: 0px;
    }
  }

  .project-hover p {
    display: none;
  }
}


/* -------------- Thumbnails-Grid-Offset-Classes -------------- */

.wrap-sq-50 {
  padding-top: 16.8%;
}

#masonry {
  overflow: hidden;
  width: 100%;
  padding: 50px 0px;
}
#masonry ul {
  width: 100%;
}
#masonry li {
  float: left;
  list-style: none;
  width: 48%;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 0;
}

/* -------------- About Content -------------- */

.content-wrapper {
  background: white;
  padding: 3.75em 0 1em;
}

@media only screen and (max-width: 40em) {
  .content-wrapper {
    padding: 2.5em 0 0;
    font-size: 82%;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .content-wrapper {
    padding-top: 4.5em;
  }
}

.content-wrapper h3 {
  font: 1.65em/1.6em "Maison Neue Medium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 1rem;
}


blockquote {
  font: 1em/1.6em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin-left: -20px;
}

@media only screen and (max-width: 40em) {
  .content-wrapper h3 {
    font: 1.6em/1.45em "Maison Neue Medium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-bottom: 0.4rem;
  }
  .content-wrapper h3.intro {
    margin-bottom: 1rem;
  }
}

.content-wrapper h6 {
  font-family:"Maison Neue Mono", "Courier New", Courier, monospace;
  font-size: 0.9em;
  line-height: 2em;
}

.content-wrapper .category h6 {
  margin: -1em 0 2em;
  color: #919393;
}

@media only screen and (max-width: 40em) {
  .content-wrapper .category h6 {
    margin-top: -.25em;
  }
}

.content-wrapper p {
  font: 1.15em/2em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
  color: #333;
}

@media only screen and (max-width: 40em) {
  .content-wrapper p {
    margin-bottom: 0.6em;
  }
}

.content-wrapper a {
  color: #323838;
  border-bottom: 1px dotted #858585;
  padding-bottom: 2px;
}

.content-wrapper a:hover {
  color: #BFAD84;
  border-bottom: 1px dotted white;

}

.content-wrapper ul li{
  font: 1.25em/1.9em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.content-wrapper ul li a {
  border-bottom: 1px dotted white;
  padding-bottom: none;
}

.content-text .row{
  margin-bottom: 2.5em;
}

@media only screen and (max-width: 40em) {
  .content-text .row{
    margin-bottom: 1.75em;
  }
}

@media screen and (max-width:30em){
  .content-text .elsewhere {
    -webkit-column-count: 2; /* Saf3, Chrome*/
    -webkit-column-gap: 2.5em; /* Saf3, Chrome*/
    -moz-column-count: 2; /* FF3.5+ */
    -moz-column-gap: 2.5em; /* FF3.5+ */
    column-count: 2; /* Opera 11+*/
    column-gap: 2.5em; /* Opera 11+*/
  }
}

@media screen and (min-width:30.01em) {
  .content-text .elsewhere {
    -webkit-column-count: 3; /* Saf3, Chrome*/
    -webkit-column-gap: 2.5em; /* Saf3, Chrome*/
    -moz-column-count: 3; /* FF3.5+ */
    -moz-column-gap: 2.5em; /* FF3.5+ */
    column-count: 3; /* Opera 11+*/
    column-gap: 2.5em; /* Opera 11+*/
  }
}


/* -------------- Footer -------------- */

footer {

  width: 100%;
  height: auto;
  background: $footer-color;
  padding: 4.5em 0 4.5em;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media only screen and (max-width: 40em) {
  footer {
    padding: 1.25em 0;
  }
}

footer p {
  font-size: 1em;
}

footer a{
  color: white;
}

footer ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
}

.social-media-mobile{
  text-align: center;
  width:100%;
}

.fa {
  transition: all .2s ease-in-out;
}

.fa:hover { transform: scale(1.1); }

footer .footer-mobile li{
  margin: 14px 0px 14px 0px;
}

footer .join{
  margin-top:20px;
}

footer .copyright{
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 20px;
  font-color: #3b3b3b;
  font: "Maison Neue Mono", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.btn {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
  background: none;
  font-size: 1em;
}

.btn-talk {
  color: $primary-color;
  padding: 10px 30px 10px 30px;
  border: solid $primary-color 2px;
  text-decoration: none;
  font-size: 1.4em;
  background: #fff;
}


#to-top-arrow {
  float: right;
  width: 1em;
  height: auto;
  cursor: pointer;
  -webkit-animation-name: Floatingt;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floatingt;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 40em) {
  #to-top-arrow {
    float: right;
    width: .8em;
    height: .5em;
  }
}

@-webkit-keyframes Floatingt{
  from {-webkit-transform:translate(0, -70px);}
  65% {-webkit-transform:translate(0, -50px);}
  to {-webkit-transform: translate(0, -70px);    }
}

@-moz-keyframes Floatingt{
  from {-webkit-transform:translate(0, -2px);}
  65% {-webkit-transform:translate(0, 2px);}
  to {-webkit-transform: translate(0, -2px);    }
}

@media only screen and (max-width: 40em) {
  @-webkit-keyframes Floatingt{
    from {-webkit-transform:translate(0, -40px);}
    65% {-webkit-transform:translate(0, -35px);}
    to {-webkit-transform: translate(0, -40px);    }
  }

  @-moz-keyframes Floatingt{
    from {-webkit-transform:translate(0, -40px);}
    65% {-webkit-transform:translate(0, -35px);}
    to {-webkit-transform: translate(0, -40px);    }
  }
}

#back-to-top {
  text-align: right;
}

/* -------------- Twitter -------------- */

.interact {
  display:none;
}

.tweet img {
  display: inline-block;
  height: 1rem;
}


/* -------------- Mind body styling -------------- */
.mindbody-widget{
  padding-bottom: 2em;
}

/* -------------- Error Page -------------- */

#error .content-wrapper {
  background: white;
  padding: 3.75em 0 0;
}

#error .header-banner {
  width: 100%;
  height: 38em;
  background: #E5E5E0;
  //background: url('../img/error.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 64em) {
  #error .header-banner {
    height: auto;
  }
}

@media only screen and (min-width: 64.063em) {
  #error .header-banner img{
    display: none;
  }
}


#google-maps {
  position: relative;
  padding-bottom: 67%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  @media only screen and (max-width: 40em) {
    padding-bottom: 75%
  }
}


#google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.container {
  padding-right: 50%;
  position: relative;
  overflow: hidden;
}


// JOIN MODAL

#joinModal{
  background: none;
  color: #FFF;
  border: none;
  box-shadow: none;
  font: 0.9em/1.2em "Maison Neue Mono", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#joinModal h3{
  color: #fff;
}

/* -------------- Foundation overrides  -------------- */

.reveal-modal-bg{
  background: rgba(0, 0, 0, 0.94);
}

.reveal-modal .close-reveal-modal {
  font-size: 4em;
  font-weight: 200;
  color: #FFF;
  top: -20px;
}


.join-form{
  padding-top: 0.8em;
  width: 100%;
}

.join-form input{
  margin-top: 30px;
}

.join-input{
  padding: 20px 0px 20px 0px  !important;
  display: block;
  background-repeat: no-repeat;
  color: #FFF !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: solid 1px #f2f2f2 !important;
  font-size: 20px !important;

}

input:focus, input:valid {
  box-shadow: none !important;
  outline: none !important;
  background-position: 0 0;
}


input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #FFF;
  font-size: 20px;
}

.reveal-modal-inner {
  margin: 0 auto !important;
  position: relative !important;
  max-width: 700px !important;
}

@media only screen and (max-width: 40em) {

  .join-form input{
    margin-top: 10px;
  }
  .join-input{
    font-size: 16px !important;
  }

  input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    font-size: 16px;
  }

}

// disable chrome autocomplete styles, thank god this works
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

/* Masonry */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/* ---- grid ---- */

.grid {
  text-align:center;
  margin-top: 40px;
  margin-bottom:60px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .grid{
    margin-top: 40px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .grid-sizer,
  .grid-item {
    width: 32.333%;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .grid-sizer,
  .grid-item {
    width: 32.333%;
  }

} /* min-width 1025px and */



.grid-item {

  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  margin-bottom: 16px;
}

.grid-item img {


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  vertical-align: middle;
}

.grid-item img:hover {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}




/// ANIMATIONS


.blog-link {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

#neil, #thomas {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  margin-bottom: 40px;
}

#neil:hover, #thomas:hover {
  opacity: 0.9;
}

.person{
  margin-bottom: 0px;
}